<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>Default</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFF</string>
		<key>textColorLight</key>
		<string>#999999</string>
		<key>textColorMid</key>
		<string>#666666</string>
		<key>textColorDark</key>
		<string>#333333</string>
		<key>textColorHint</key>
		<string>#D0D0D0</string>
		<key>separatorColor</key>
		<string>#E3E3E3</string>
		<key>borderColor</key>
		<string>#B5B5B5</string>
		<key>badgeColor</key>
		<string>#FF1F22</string>
		<key>emptyImage</key>
		<string>pic_box_green</string>
		<key>networkBadImage</key>
		<string>pic_circle_green</string>
		<key>buildingImage</key>
		<string>pic_house_green</string>
	</dict>
	<key>Nav</key>
	<dict>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#15b591</string>
	</dict>
	<key>Tab</key>
	<dict>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#15b591</string>
		<key>midItemImage</key>
		<string>icon_fabu_green</string>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>separatorColor</key>
		<string>#C6C5C5</string>
	</dict>
	<key>SelectThemeCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_theme_yellow</string>
	</dict>
	<key>SwitchNightCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_night_dark</string>
	</dict>
	<key>ChangeThemeCell</key>
	<dict>
		<key>buttonTitleColorNormal</key>
		<string>#000</string>
		<key>buttonTitleColorHighlighted</key>
		<string>#AAA</string>
		<key>buttonBackgroundColor</key>
		<string>#F4C600</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>backgroundImage</key>
		<string>bg_login_green</string>
		<key>lock</key>
		<string>icon_lock_green</string>
		<key>account</key>
		<string>icon_user_green</string>
	</dict>
	<key>Record</key>
	<dict>
		<key>arrowUp</key>
		<string>icon_arrow_up_green</string>
		<key>arrowDown</key>
		<string>icon_gray_arrow_down</string>
		<key>calenderEdit</key>
		<string>icon_calendar_green</string>
		<key>readOverImage</key>
		<string>icon_read_green</string>
	</dict>
	<key>Selected</key>
	<dict>
		<key>mutiSelected</key>
		<string>icon_circle_selected-green</string>
		<key>singleSelected</key>
		<string>icon_ture_blue_big</string>
		<key>mutiNormal</key>
		<string>icon_gray_circle_normal</string>
		<key>singleNormal</key>
		<string>icon_gray_true</string>
	</dict>
	<key>Mine</key>
	<dict>
		<key>headerBackgroundImage</key>
		<string>bg_cela_green</string>
		<key>headerTextColor</key>
		<string>#05231c</string>
	</dict>
</dict>
</plist>
