<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>Default</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>textColorLight</key>
		<string>#999999</string>
		<key>textColorMid</key>
		<string>#666666</string>
		<key>textColorDark</key>
		<string>#333333</string>
		<key>textColorHint</key>
		<string>#D0D0D0</string>
		<key>viewLightColor</key>
		<string>#F6F6F6</string>
		<key>viewLightGray</key>
		<string>#DCDCDC</string>
		<key>separatorColor</key>
		<string>#E3E3E3</string>
		<key>borderColor</key>
		<string>#B5B5B5</string>
		<key>badgeColor</key>
		<string>#FF1F22</string>
		<key>emptyImage</key>
		<string>pic_empty</string>
		<key>networkBadImage</key>
		<string>pic_network</string>
		<key>buildingImage</key>
		<string>pic_house</string>
	</dict>
	<key>Nav</key>
	<dict>
		<key>barTextColor</key>
		<string>#FFF</string>
		<key>barTintColor</key>
		<string>#ff4381</string>
	</dict>
	<key>Tab</key>
	<dict>
		<key>barTextColor</key>
		<string>#FC7296</string>
		<key>barTintColor</key>
		<string>#FFF7F8</string>
		<key>midItemImage</key>
		<string>icon_red_fabu</string>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>separatorColor</key>
		<string>#C6C5C5</string>
	</dict>
	<key>SelectThemeCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_theme_yellow</string>
	</dict>
	<key>SwitchNightCell</key>
	<dict>
		<key>iconImage</key>
		<string>icon_night_dark</string>
	</dict>
	<key>ChangeThemeCell</key>
	<dict>
		<key>buttonTitleColorNormal</key>
		<string>#000</string>
		<key>buttonTitleColorHighlighted</key>
		<string>#AAA</string>
		<key>buttonBackgroundColor</key>
		<string>#F4C600</string>
	</dict>
	<key>Login</key>
	<dict>
		<key>backgroundImage</key>
		<string>login-bg</string>
		<key>lock</key>
		<string>login-user</string>
		<key>account</key>
		<string>login-pas</string>
	</dict>
	<key>Record</key>
	<dict>
		<key>arrowUp</key>
		<string>icon_red_arrow_up</string>
		<key>arrowDown</key>
		<string>icon_gray_arrow_down_small</string>
		<key>calenderEdit</key>
		<string>icon-red-date</string>
		<key>readOverImage</key>
		<string>icon_blue_read</string>
	</dict>
	<key>Selected</key>
	<dict>
		<key>mutiSelected</key>
		<string>icon_blue_zhibiao</string>
		<key>singleSelected</key>
		<string>icon_red_circle_selected_big</string>
		<key>mutiNormal</key>
		<string>icon_gray_circle_normal</string>
		<key>singleNormal</key>
		<string>icon_red_circle_unSelected_big</string>
	</dict>
	<key>Mine</key>
	<dict>
		<key>headerBackgroundImage</key>
		<string>bg_blue_cela</string>
		<key>headerTextColor</key>
		<string>#FFFFFF</string>
	</dict>
	<key>Archived</key>
	<dict>
		<key>archivedBackgroundColor</key>
		<string>#F69625</string>
	</dict>
</dict>
</plist>
